
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <header>
    <nav>
    <a class="companyname"> Venue Finder </a>
      <a href="#">Home</a>
      <a href="#">About Us</a>
      <a href="#">Contact</a>
      <a href="#">Community</a>
      <a href="#">Venue List</a>
      <a href="#">Login</a>
    </nav>
  </header>
  <main>
    <section>
      <h1>Venues</h1>
      <div class="card-container">
      <div class="card">
        <img src="assets/images/conference-centers.jpg" alt="Venue image">
        <h2>conference-centers</h2>
        <p>Venue space</p>
        <p>More details about the venue</p>
      </div>
      <div class="card">
        <img src="assets/images/event-venues.jpg" alt="Venue image">
        <h2>Event-venues</h2>
        <p>Venue space</p>
        <p>More details about the venue</p>
      </div>
      <div class="card">
        <img src="assets/images/meeting-spaces.jpg" alt="Venue image">
        <h2>Meeting-spaces</h2>
        <p>Venue space</p>
        <p>More details about the venue</p>
      </div>
      <div class="card">
        <img src="assets/images/restaurants.jpg" alt="Venue image">
        <h2>Restaurants</h2>
        <p>Venue space</p>
        <p>More details about the venue</p>
      </div>
      <div class="card">
        <img src="assets/images/bars.jpg" alt="Venue image">
        <h2>Bars</h2>
        <p>Venue space</p>
        <p>More details about the venue</p>
      </div>
      <div class="card">
        <img src="assets/images/outdoor-spaces.jpg" alt="Venue image">
        <h2>Outdoor-Spaces</h2>
        <p>Venue space</p>
        <p>More details about the venue</p>
      </div>
      <div class="card">
        <img src="assets/images/warehouses.jpg" alt="Venue image">
        <h2>Warehouses</h2>
        <p>Venue space</p>
        <p>More details about the venue</p>
      </div> 
    </div>
    </section>
  </main>
