header {
    background-color:rgb(173, 219, 239);
    padding: 20px;
    margin-bottom: 20px;
}

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 10%;
  }

  nav a {
    padding: 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
  }
  
  nav  a:hover {
    color: #fff;
    background-color: #000;
  }
 h1{
    margin-left: 20px;
  }

  
  
  
  /* Main */
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  margin-bottom: 35px;

  }
  .card-container{
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next row if necessary */
  justify-content: space-around;

  }
  
  .card img {
    width: 100%;
    border-radius: 5px;
 
  }
  
  .card h2 {
    margin-top: 0;
  }
  
  .card p {
    margin-top: 10px;
  }
